/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
  transition: transform 200ms linear;
  position: fixed;
  z-index:500;
  top: 0;left: 0;
  right: 0;
}
.headroom--top{
  position:relative;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}