/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
  transition: transform 200ms linear;
}
.headroom--top{
  position:relative;
}
.headroom--not-top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:100;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}