.modified-paper-input.group
  select.form-control(
    id="{{field.id}}",
    ng-model="data[field.name]",
    name="{{field.name}}",
    ng-required="field.required",
    ng-cloak)
      option(value="") {{field.placeholder}}
      option(value="AL") AL
      option(value="AK") AK
      option(value="AZ") AZ
      option(value="AR") AR
      option(value="CA") CA
      option(value="CO") CO
      option(value="CT") CT
      option(value="DE") DE
      option(value="DC") DC
      option(value="FL") FL
      option(value="GA") GA
      option(value="HI") HI
      option(value="ID") ID
      option(value="IL") IL
      option(value="IN") IN
      option(value="IA") IA
      option(value="KS") KS
      option(value="KY") KY
      option(value="LA") LA
      option(value="ME") ME
      option(value="MD") MD
      option(value="MA") MA
      option(value="MI") MI
      option(value="MN") MN
      option(value="MS") MS
      option(value="MO") MO
      option(value="MT") MT
      option(value="NE") NE
      option(value="NV") NV
      option(value="NH") NH
      option(value="NJ") NJ
      option(value="NM") NM
      option(value="NY") NY
      option(value="NC") NC
      option(value="ND") ND
      option(value="OH") OH
      option(value="OK") OK
      option(value="OR") OR
      option(value="PA") PA
      option(value="RI") RI
      option(value="SC") SC
      option(value="SD") SD
      option(value="TN") TN
      option(value="TX") TX
      option(value="UT") UT
      option(value="VT") VT
      option(value="VA") VA
      option(value="WA") WA
      option(value="WV") WV
      option(value="WI") WI
      option(value="WY") WY
  label(for="{{field.id}}",ng-show="field.label") {{field.label}}