.blog
  header.intro-header.my-image(
    my-image="page.template.blog.headerImage",
    background="true"
    )
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .site-heading
            editor-container
              div(editable="editorOptions", ng-model="page.template.blog.header")
            hr.small
            editor-container
              div(editable="editorOptions", ng-model="page.template.blog.subHeader")

  full-blog(blog="page.template.blog",editor-options="editorOptions")





