.container
  .row
    .col-md-7
      .row
        .col-xs-2
          my-date.small-date
        .col-xs-10
          editor-container
            div(editable="editorOptions",ng-model="page.template.eventInfo.header1")
      
      my-tab(editorOptions="editorOptions",tabs="page.template.eventInfo.schedules")


    .col-md-5
      div.flat-bottom.jumbo.masthead.img-rounded.my-image(
        my-image="page.template.eventInfo.boxImage",
        background="true"
        )
        editor-container
          div(editable="editorOptions",ng-model="page.template.eventInfo.boxHeader")
      statistic-box.flat-top(total-donated="32905",goal="35000")


      
      
