.masthead
  .container-fluid
    .col-md-6.col-md-offset-1
      editor-container
        div(ckeditor="editorOptions",ng-model="page.template.faq.header1")

.container-fluid
  .row
    .col-md-6.col-md-offset-1
      my-faq(faqs="page.template.faq.faqs",editor-options="{{editorOptions}}")
    .col-md-4
     
