.container
  .row
    .col-md-8
      .page-header 
        .row
          .col-md-3
            img.img-circle.img-responsive(src="assets/images/trainer2quare.jpg", width="")
          .ol.md-9
            h1 Susan Collins
        table.table
          td donors &#x20;
            span.badge  14
          td I've raised &#x20;
            span(style="color:#007C05") $1133 &#x20;
          td My goal: &#x20;
            span(style="color:#7B004F") $1500 &#x20;
        h4 My commitment: 
          strong run 15k &#x20;
          span for the &#x20;
          strong My event name &#x20;
          h2 Editable Story by the Participant

          p This is an example page of what the participant would have wrote.&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;

          p
            img(alt="" src="http://localhost:9000/assets/images/trainer.jpg" style="float:left; font-size:14.3999996185303px; height:133px; line-height:15.9999828338623px; margin-left:15px; margin-right:15px; width:200px")

          p They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;

          p They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;They can write all over this space and make a very pretty profile&nbsp;

      
    .col-md-4
      img.flat-bottom.img-responsive.img-rounded(src="assets/images/trainer.jpg", alt="Placeholder Image")
      statistic-box.flat-top(total-donated="1133",goal="1500")