.input-group.input-group-lg
  span.input-group-addon 
    i.fa.fa-envelope
  input.form-control(type="email" name="email",ng-model="email")
  span.input-group-btn
    button.btn.btn-info(ng-click="submit(email)") Subscribe