ul.nav-tabs{
  li{
    a{
      padding-left:4px;
    }
  }
}
div.tab-content{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}
div.tab-pane{
  padding-top:15px;
}
a.delete{
  color:red;
}
a.edit{
  color:#BB6D0B
}
a.exit{
  color:#9C3716
}