.site-wrapper{
  padding-right:50px;
}
.page-wrapper{
    margin-top:-20px;
}
$mobile-container-width: 332px;
$mobile-container-height: 696px;
$mobile-pane-height: 504px;
$mobile-pane-width: 290px;

.mobile-wrapper{
    margin:auto auto;
    position: relative;
    width: $mobile-container-width;
    height: $mobile-container-height;
    img{
        position:absolute;
        width:100%;
        height:auto;
        left:0px;
        top:0px;
    }
    iframe{
        z-index: 2;
        position: absolute;
        display:block;
        width: $mobile-pane-width;
        height: $mobile-pane-height;
        left: 24px;
        top: 99px;
        border: 2px solid #22272D;
        overflow:hidden;
    }
}
headroom.headroom--not-top{
  left:50px;
  right:50px;
}
@media(min-width:768px) {
    .right-side-nav {
        position: fixed;
        top: 0px;
        right: 50px;
        bottom:0px;
        width: 50px;
        margin-right: -50px;
        padding-top:50px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        overflow-x:hidden;
        background-color: #222;
    }

    .right-side-nav>li>a {
        width: 50px;
    }

    .right-side-nav>li>a:hover,
    .right-side-nav>li>a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.right-side-nav>li>ul {
    padding: 0;
}

.right-side-nav>li>a {
    // display: block;
    padding-left:0px;
    padding-right:0px;
    text-align:center;
    text-decoration: none;
    color: #999;
}
.right-side-nav>li>a>i{
    font-size:1.5em;
}

.right-side-nav>li>a:hover {
    color: #fff;
}