.modal-content
  .modal-header
    button.close(type='button', ng-click='$dismiss()') &times;
    h4.modal-title Select adf
  form(on-valid-submit="$close(selected)")
    .modal-body(ng-enter="$close(selected)")
      div.col-lg-3.col-md-4.col-xs-6.thumb(ng-repeat="template in templates")
        label
          input(type="radio",
            ng-model="selected.template",
            ng-value="template",
            name="{{$index}}"
            )
          div.thumbnail(ng-class="{active:selected.template.label==template.label}")
            span
              strong {{template.label}}

    .modal-footer
      button.btn.btn-success(ng-click="$close(selected)",type="submit") Submit
