.google-drive-image{
  background-size:21px 121px;
  display:inline-block;
  width:16px;
  height:16px;
  margin: auto 1px;
  background:no-repeat url(//ssl.gstatic.com/docs/doclist/images/save_to_drive-3366057c53bded98c27ddf0789911e35.png) 0 -61px
}
