.tick.dollar-container{
  padding-left:45px;
}
.dollar-append{
  content:'$';
  display:block;
  font-size:4em;
  color:white;
  position:absolute;
  text-shadow: 0 -1px 0 black;
  left:10px;
  top:8px;
  z-index:1000;
}
.ticker-container{
  display:block;
  position:relative;
  height:100px;
}
.day-label{
  font-size:3.5em;
  color:white;
  text-shadow: 0 -1px 0 black;
  padding-left:10px;
}