form(name="theForm" on-valid-submit="check(this)")
  div(ng-repeat="field in fields")
    .form-group
      my-errors(field="field",form="theForm")
        my-field(field="field",data="data",valid="{{field.valid}}")
  button.btn(type="submit") Submit
  pre {{data}}