@import 'compass';


$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";


@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
html,body{
    height:100%;
}
// input[type="text"], textarea, option{
//   background-color : #FFEFE2; 
// }

#wrap{
    min-height:100%;
}
#main{
    overflow:hidden;
    padding-bottom:150px;
}
a:hover{
    cursor:pointer;
}
.center-align{
    text-align:center;
}
.center{
    margin:auto auto;
}
.masthead{

    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
}
@media screen and (min-width: 768px){
    .jumbo{
        padding-top:48px;
        padding-bottom:48px;
    }
}
.jumbo{
    padding:30px;
    margin-bottom:30px;
    h1{
        font-size:63px;
    }
    p{
        font-weight:200;
        font-size:21px;
        margin-bottom:15px;
    }
}

.footer {
    text-align: center;
    position:relative;
    margin-top:-150px;
    margin-bottom:0px;
    height:150px;
    padding-top: 70px;
    padding-bottom:30px;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/signup/signup.scss';
@import 'admin/admin.scss';
@import 'admin/media/media.scss';
@import 'admin/sites/site/page/page.scss';
@import 'admin/sites/site/pageItems/pageItems.scss';
@import 'admin/sites/site/siteSettings/siteSettings.scss';
@import 'admin/sites/sites.scss';
@import 'main/main.scss';
@import 'twitter.scss';
@import 'admin-navbar/adminNavbar.scss';
@import 'editors/ckeditor/ckeditor.scss';
@import 'fullBlog/fullBlog.scss';
@import 'modal/modal.scss';
@import 'mysite/myButton/myButton.scss';
@import 'mysite/myDate/myDate.scss';
@import 'mysite/myFaq/myFaq.scss';
@import 'mysite/myForm/myForm.scss';
@import 'mysite/myImage/myImage.scss';
@import 'mysite/myNavbar/headroom.scss';
@import 'mysite/myNavbar/myNavbar.scss';
@import 'mysite/myPage/templates/layouts/layouts.scss';
@import 'mysite/myRow/myRow.scss';
@import 'mysite/myTab/myTab.scss';
@import 'mysite/subscriptionForm/subscriptionForm.scss';
@import 'navbar/navbar.scss';
@import 'palette-picker/palettePicker.scss';
@import 'payments/payments-processor/payment.scss';
@import 'statistic-box/statistic-box.scss';
@import 'ticker/ticker.scss';
// endinjector




