@import 'compass';


$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
html,body{
    height:100%;
}
#wrap{
    min-height:100%;
}
#main{
    overflow:auto;
    padding-bottom:150px;
}

.footer {
    text-align: center;
    position:relative;
    margin-top:-150px;
    margin-bottom:0px;
    height:150px;
    padding-top: 70px;
    padding-bottom:30px;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/signup/signup.scss';
@import 'admin/admin.scss';
@import 'admin/sites/sites.scss';
@import 'main/main.scss';
@import 'admin-navbar/adminNavbar.scss';
@import 'editors/ckeditor/ckeditor.scss';
@import 'fullBlog/fullBlog.scss';
@import 'modal/modal.scss';
@import 'mysite/myButton/myButton.scss';
@import 'mysite/myImage/myImage.scss';
@import 'mysite/myNavbar/myNavbar.scss';
@import 'mysite/myPage/page.scss';
@import 'palette-picker/palettePicker.scss';
@import 'payments/payments-processor/payment.scss';
@import 'statistic-box/statistic-box.scss';
@import 'ticker/ticker.scss';
// endinjector