div(id="wrap")
  div(id="main")
    navbar
    ui-view

footer.footer.navbar.navbar-static-bottom
  .container
    p
      | MyDrive5
      = ' | '
      a(href='https://twitter.com/mydrive5') @mydrive5
      = ' | '
      a(href='https://github.com/pgruenbacher/mydrive5/issues?state=open') Issues