div(ui-tree="options")
  ol(ui-tree-nodes ng-model="formItems" data-type="formItems")
    li(ng-repeat="formItem in formItems" ui-tree-node)

      div.menu-title.angular-ui-tree-handle(ng-show="fieldEditing.index!==$index")
        a.btn.btn-danger.btn-xs.pull-right(href="" data-nodrag ng-click="removeField($index)")
          i.glyphicon.glyphicon-remove
        a.btn.btn-primary.btn-xs.pull-right(href="" data-nodrag ng-click="fieldEditing.index=$index")
          i.glyphicon.glyphicon-pencil
        div &nbsp;{{formItem.name}} ({{formItem.type}})

      div.menu-title.angular-ui-tree-handle(data-nodrag ng-show="fieldEditing.index===$index")
        form.form-horizontal(role="form",name="editMenuForm",on-valid-submit="fieldEditing.index=null")
          div.center-align {{formItem.name}} ({{formItem.type}})
            button.btn.btn-warning.pull-right.btn-xs(type="submit") 
              i.fa.fa-close
              |Close
          div.clear-both
          div.form-group
            label.col-sm-6.control-label(for="") field Name
            div.col-sm-6
              input.form-control(type="text",required="true", placeholder="name" ng-model="formItem.name")
          div.form-group 
            label.col-sm-6.control-label(for="") Label
            div.col-sm-6
              input.form-control(type="text",required="true", placeholder="label" ng-model="formItem.label")
          div.form-group(ng-if="hasProp(formItem,'placeholder')") 
            label.col-sm-6.control-label(for="") Placeholder
            div.col-sm-6
              input.form-control(type="text",required="true", placeholder="placeholder" ng-model="formItem.placeholder")
          div.form-group 
            label.col-sm-6.control-label(for="") Description
            div.col-sm-6
              textarea.form-control(type="text",required="true", placeholder="description" ng-model="formItem.description")
          div.form-group(ng-if="hasProp(formItem,'maxlength')") 
            label.col-sm-6.control-label(for="") Max-length (optional)
            div.col-sm-6
              input.form-control(type="number",required="false", placeholder="max-length?" ng-model="formItem.maxlength")
          div.form-group(ng-if="hasProp(formItem,'Min-length')") 
            label.col-sm-6.control-label(for="") Min-length (optional)
            div.col-sm-6
              input.form-control(type="number",required="false", placeholder="min-length?" ng-model="formItem.minlength")
          div.form-group
            label.col-sm-6.control-label(for="sdasfd") Is field required?
            div.col-sm-6.checkbox
              input(type="checkbox", id="sdasfd" ng-model="formItem.required")

          div(ng-if="hasProp(formItem,'selects')")
            h4 {{formItem.type}}
            table.table-condensed
              thead
                tr
                  th Name
                  th value
                  th
              tbody
                tr(ng-repeat="option in formItem.selects")
                  td
                    input.form-control(type="text" class="form-control",required="true", placeholder="name", ng-model="option.name")
                  td
                    input.form-control(type="text" class="form-control",required="true", placeholder="value", ng-model="option.value")
                  td 
                    a.btn.btn-danger(ng-click="deleteOption($parent.$index,$index)")
                      i.fa.fa-trash            
                tr
                  td
                    input.form-control(type="text", class="form-control", placeholder="name" ng-model="newOption.name")
                  td  
                    input.form-control(type="text", class="form-control", placeholder="value" ng-model="newOption.value")
                  td
                    a.btn.btn-success(ng-click="addOption($index,newOption)")
                      i.fa.fa-plus-square
            
      
  ol.angular-ui-tree-nodes
    li.angular-ui-tree-node
      div.menu-title.angular-ui-tree-handle
        form(role="form",name="addMenuForm",on-valid-submit="addField(newName,newField.data)")
          .row
            .col-sm-2
              label New Field
            .col-sm-4
              div.form-group
                label.sr-only(for="") Field name
                input.form-control(type="text",required, ng-model="newName" placeholder="Menu name" filter-validation="validSlug")
            .col-sm-5
              a(ng-click="chooseType()") Choose Type
              //- div.form-group
              //-   select.form-control(ng-options="formItem.label for formItem in defaults",ng-model="newField.data",required)
              //-     option(value="") --select type--
            .col-sm-1
              button.btn.btn-success.btn-xs.pull-right(type="submit")
                i.fa.fa-plus-square

        div
          my-field(field="newField.data")