ul
  li(ng-repeat="form in forms")
    a(ng-click="editForm(form)") {{form.title}}

.row
  .col-lg-4
    formItems(form-items="fields")
  .col-lg-4
    my-form(fields="fields")

div.right-side-nav.navbar-nav.nav
  li
    a(ui-sref="app.admin.sites.site.page({site:site.domainName,page:'home'})",tooltip-trigger="mouseenter",tooltip-placement="left",tooltip="Go to site pages",tooltip-append-to-body="true")
      i.fa.fa-book       
    a(ui-sref="app.admin.sites.site.settings({site:site.domainName})",tooltip-trigger="mouseenter",tooltip-placement="left",tooltip="Go to my settings",tooltip-append-to-body="true")
      i.fa.fa-gear
    a(ng-click="",tooltip-trigger="mouseenter",tooltip-placement="left",tooltip="Save",tooltip-append-to-body="true") 
      i.fa.fa-save(ng-hide="pageSaving")
      i.fa.fa-spin.fa-spinner(ng-show="pageSaving")