div
  label.control-label(for="template",ng-if="editable") Select Layout
    select.form-control(
      id="template"
      ng-model="page.template"
      name="template"
      ng-options="template.label for template in templates track by template.label"
      )
  button.btn.btn-success(ng-click="save(true)") Save page
    i.fa.fa-spin.fa-spinner(ng-show="pageSaving")

  button.btn.btn-info(ng-click="preview(true)",ng-show="editable") Preview
  button.btn.btn-warning(ng-click="preview(false)",ng-show="!editable") Edit


my-page(template="{{page.template.src}}",page="page",navigation-items="navigationItems")