div
  label.control-label(for="template") Select Layout {{page.template.label}}
    select.form-control(
      id="template"
      ng-model="page.template"
      name="template"
      ng-options="template.label for template in templates"
      )
  button.btn.btn-success(ng-click="save()") Save


my-page(template="{{page.template.src}}",page="page",navigation-items="navigationItems")