.btn-group(
  ng-if="visible"
  )
  button(
    type="button",
    ng-click="perform()",
    ng-disabled="button.disabled"
    ).btn.btn-default
    span(ng-show="!editMode") {{button.title}}
    input(type="text",ng-blur="edit(false)",ng-model="button.title",ng-show="editMode")
  button(type="button",ng-if="editing",ng-click="edit()").btn.btn-default 
    i.fa.fa-edit


  