div.navbar.navbar-inverse.navbar-static-top.primary-navbar(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header(style="float:right;")
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed',ng-show="isLoggedIn()")
        span.sr-only Toggle navigation
        i.fa.fa-gear(style="color:white")
      
      a.navbar-brand(href='/') mydrive5

    //- ul.nav.navbar-nav.top-nav

    ul.nav.navbar-nav.navbar-right.top-nav
      li(ui-sref-active='active' ng-show='isAdminAndNotState()')
        a(ui-sref='app.admin') Admin
      li(ng-hide='isLoggedIn()', ui-sref-active='active')
        a(ui-sref='app.login') Login
      li(ng-hide='isLoggedIn()', ui-sref-active='active')
        a(ui-sref='app.signup') Sign up
      li.dropdown(ng-show="isLoggedIn()")
        a.dropdown-toggle(data-toggle="dropdown")
          i.fa.fa-user
          b.caret
        ul.dropdown-menu
          li(ui-sref-active='active')
            a(ui-sref='app.profile')
              i.fa.fa-fw.fa-user
              | profile
          //- li(ui-sref-active='active')
          //-   a(ui-sref='app.message')
          //-     i.fa.fa-fw.fa-envelope
          //-     | messages
          li(ui-sref-active='active')
            a(ui-sref='app.settings')
              i.fa.fa-fw.fa-gear
              | settings
          li.divider
          li
            a(ui-sref='app.logout') 
              i.fa.fa-fw.fa-sign-out
              |Logout

    div.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav.side-nav(ng-show='stateIncludes("app.admin")')
        li()
          a(ui-sref='app.admin')
            |admin

        li(ui-sref-active='active')
          a(ui-sref='app.admin.sites.index' tooltip-placement="right" tooltip="My Sites" tooltip-append-to-body="true")
            i.fa.fa-fw.fa-mobile
            span(ng-show="!isCollapsed") My Sites

        li(ui-sref-active='active')
          a(ui-sref='app.admin.media' tooltip-placement="right" tooltip="My Media" tooltip-append-to-body="true")
            i.fa.fa-fw.fa-file
            span(ng-show="!isCollapsed") My Media

        li(ui-sref-active='active' tooltip-placement="right" tooltip="My current donations" tooltip-append-to-body="true")
          a(ui-sref='app.admin.finance')
            i.fa.fa-fw.fa-credit-card
            span(ng-show="!isCollapsed") Current Donations
        
        li(ng-show="stateIncludes('app.admin.sites.site.page')" tooltip-placement="right" tooltip="Save current page" tooltip-append-to-body="true")
          a(ui-sref='app.admin.sites.site.page')
            i.fa.fa-fw.fa-save
            span(ng-show="!isCollapsed") Save Current Page
        
      //- ul.nav.navbar-nav
      //-   li(ng-repeat='item in menu', ui-sref-active='active')
      //-     a(ui-sref='{{item.state}}') {{item.title}}

      //-   li(ng-show='isAdmin()', ui-sref-active='active')
      //-     a(ui-sref='app.admin') Admin

      //- ul.nav.navbar-nav.navbar-right
      //-   li(ng-hide='isLoggedIn()', ui-sref-active='active')
      //-     a(ui-sref='app.signup') Sign up

      //-   li(ng-hide='isLoggedIn()', ui-sref-active='active')
      //-     a(ui-sref='app.login') Login

      //-   li(ng-show='isLoggedIn()')
      //-     p.navbar-text Hello {{ getCurrentUser().firstName }}

      //-   li(ng-show='isLoggedIn()', ui-sref-active='active')
      //-     a(ui-sref='app.settings')
      //-       span.glyphicon.glyphicon-cog

      //-   li(ng-show='isLoggedIn()')
      //-     a(ui-sref='app.logout') Logout