header#banner.jumbo.masthead
  .container
    h1.text-shadow.pull-right myDrive5
.container
  .row
    .col-md-7
      iframe(
        width="560"
        height="315"
        src="//www.youtube.com/embed/rb37CnyR614"
        frameborder="0"
        allowfullscreen)
      .row
          .long-shadow-box.pull-left
            span
              |5
          span.long-header Reasons to use myDrive5
      .row
          .long-shadow-box.pull-right
            span 
              i.fa.fa-dollar
          span.long-header Free Hosting
      .row
          .long-shadow-box.pull-left
            span 
              i.fa.fa-mobile
          span.long-header Mobile Friendly
      .row
          .long-shadow-box.pull-right
            span 
              i.fa.fa-thumbs-up
          span.long-header Ease of Use
      .row
          .long-shadow-box.pull-left
            span 
              i.fa.fa-rss
          span.long-header Social Media
      .row
          .long-shadow-box.pull-right
            span 
              i.fa.fa-dollar
          span.long-header Beautiful
    .col-md-5
      statistic-box(total-donated="{{statistics.totalDonated}}",goal="{{statistics.goal}}")
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addThing()') Add New
