.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-family:"Lato",serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 3px 0px rgba(0, 0, 0, 0.3);
    margin-bottom:3px;
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active {
    margin-top: 3px;
    margin-bottom: 0px;
}

// @mixin btn($color, $percent: 10%)  {
//     border: 0;
//     text-shadow: 0px 1px 0px darken($color, $percent);
//     background-color: $color;
//     @include box-shadow(0px, 6px, 0px, darken($color, $percent));
//     &:hover { 
//       border: 0;
//       background-color: lighten($color, 5%) !important;
//       @include box-shadow(0px, 4px, 0px, darken($color, $percent));
//     }
//     &:active { 
//       @include box-shadow(inset, 0px, 3px, 0px, darken($color, $percent)); 
//     }
// }

// .btn {
//   position: relative;
//   border: 0 !important;
//   &:focus { outline: 0; }
//   &:hover { top: 2px; }
//   &:active { top: 6px; }
//   cursor: pointer;
//   -webkit-font-smoothing: antialiased;
//   font-weight: bold !important;
  
//   @include border-radius(10);
//   @include transition(all, 50ms, ease);
//   @include btn(rgb(204, 204, 204), 20%);
  
// }

// .btn-primary {
//   @include btn(#428bca);
// }

// .btn-success {
//   @include btn(#5cb85c);
// }

// .btn-info {
//   @include btn(#5bc0de);
// }

// .btn-warning {
//   @include btn(#f0ad4e);
// }

// .btn-danger {
//   @include btn(#d9534f);
// }

// .btn-link {
//   text-shadow: none;
//   background: none !important;
//   @include box-shadow(none);
//   &:hover { 
//     border: 0;
//     background: none !important;
//     @include box-shadow(none);
//     top: 0;
//   }
//   &:active { 
//     @include box-shadow(none); 
//     top: 0;
//   }
// }


