.modal-content
  .modal-header
    button.close(type='button', data-dismiss='modal')
      span(aria-hidden='true') ×
      span.sr-only Close
    h4#uploadMediaLabel.modal-title Upload Media
  .modal-body
    div(ng-controller="mediaCtrl")
      a.button.button-primary.button-lg(ng-click="openUploadModal()") Upload
    
      div.row
        div.col-lg-2.col-md-3.col-xs-4.thumb(ng-repeat="image in images")
          a.thumbnail(ng-click="$close(image)")
            span
              strong {{image.name}} : {{image.size/1024/1024|number:2}} MB
            img(ng-src="{{image.Thumbnail.urlPath}}", alt="")
    a(ng-click="$close()") Disable Image (won't appear on website)