.container
  a.button.button-primary.button-lg(ng-click="openUploadModal()") Upload
  
  div.row
    div.col-lg-3.col-md-4.col-xs-6.thumb(ng-repeat="image in images")
      a.thumbnail
        span
          strong {{image.name}} : {{image.size/1024/1024|number:2}} MB
        img(ng-src="{{image.Thumbnail.urlPath}}", alt="")
  