.gallery{
  min-height:500px;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}
div.images-navbar{
  height:50px;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      float:left;
      a{
        text-align:center;
        width:150px;
        display:block;
      }
      a:before {
        content: "\f07b";
        text-decoration:none;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: #FD691C;
        font-size: 18px;
        padding-right: 0.5em;
      }
      a.active:before{
        content:"\f07c"
      }
    }
  }
}