.statistic-box
  div.ticker-container
    div(ticker id="test",value="1392120000",method="days")
    .day-label
      p days Left 
    p till my event
  div.ticker-container
    div(ticker value='{{totalDonated}}',method="dollars")
  div.clear-both
    .progress-container
      div.clear-both
        b {{percentGoal}} % of goal of {{goal | number:0}} dollars
      progressbar(animate="true", value="percentGoal", type="success")
  div.clear-both
    payment-processor
      button(ng-click="openPaymentModal()").btn.payment-button Donate Now