select(
  class="form-control"
  ng-model="columns"
  ng-options="template.columns as template.label for template in templates"
  )
div.row
  div(my-column,ng-repeat="column in columns",ng-class="column.class", sections="column.sections")

